*.html
*.aux
*.dvi
*.log
*.nav
*.snm
*.toc
*.pdf
*.vrb
*.out
*.sty
*.pyc
*.zip
*.org
*~
.project
.pydevproject
app.yaml
build
tests/coverageResults
*,cover
tests/.coverage
*.egg-info
eggs
parts
.installed.cfg
bin
develop-eggs
.DS_Store
index.yaml
